:root {
    --gradient: linear-gradient(315deg, #845ec2,#d65db1, #ff6f91, #ff9671, #ffc75f, #f9f871);
    /* --gradient-quiz: linear-gradient(45deg, #58D68D, #F9E79F, #F8C471,#DC7633); */
}

* {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow:none;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: none;
}

body {
    margin: 0;
    background-image: var(--gradient);
    background-size: 300%;
    animation: bg-transition 20s ease-in-out infinite alternate;
}

#app-name, #app-name h1 {
    transition: all 100ms ease-in;
}

.app-header {
    max-height: 12vh;
    position: absolute;
    top: 0;
    padding: 1vh 0;
    width: 100%;
}
.app-header .app-title {
    color: crimson;
    margin: 0;
    text-align: center;
}

.loader {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
    transform: translateX(-150vw);
    background-image: var(--gradient);
    background-size: 300%;
    animation: bg-transition 20s ease-in-out infinite alternate;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 500ms ease-in;
}

.loader.show {
    transform: translateX(0);
}
.loader h2 {
    text-align: center;
}

.quiz-header {
    max-height: 12vh;
    position: absolute;
    top: 0;
    padding: 1vh 0;
    width: 100%;
    padding-left: 5vw;
    padding-top: 2vh;
}
.quiz-header .app-title {
    color: crimson;
    font-size: 4vh;
    margin: 0;
    text-align: left;
}

.d-flex {
    display: flex;
}

.theme-input {
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: transform 40ms ease-in;
}
.theme-input::after {
    content: '';
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
}
.theme-input::before {
    content: '';
    background-color: inherit;
    border-radius: inherit;
    position: absolute;
    top: -0.2rem;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: top 150ms ease-in;
}
.theme-input:hover::before, .theme-input:focus-within::before {
    top: -0.5rem;
}

@keyframes bg-transition {
    from {
        background-position-x: left;
    }
    to {
        background-position-x: right;
    }
}

@media only screen and (min-width: 800px) {
    .app-header {
        max-height: 12vh;
    }
    .app-header .app-title {
        font-size: 10vh;
    }
    .loader h2 {
        font-size: 2em;
    }
}
@media only screen and (max-width: 800px) {
    .app-header {
        max-height: 12vh;
        margin-top: 4vh;
    }
    .app-header .app-title {
        font-size: 7vh;
    }
    .loader h2 {
        font-size: 1.5em;
    }
}